<ul class="list-unstyled">
  <% @assets.each do |asset| %>
    <li class="media">
      <%= link_to image_tag(asset.resource.preview(resize: "125x125"),
          class: "img-thumbnail mr-3"), asset %>
      <div class="media-body">
        <h5 class="mt-0 mt-1"><%= asset.name %></h5>
        <p><%= asset.description %></p>
      </div>
    </li>
  <% end %>
</ul>
